.laud audio{
    height: 100px;
    width: 55%;
    float: left;
}
.raud audio {
    float: right;
    height: 50px;
    width: 45%;
}


.audiolink {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    line-height: 70px;
    opacity: 0.8;
    line-break: auto;
    width: 100%;
    border: none;
}
.audiolink:hover {
    opacity: 1;
}