.socialpost {
    float: left;
    padding: 10px;
    margin-top: -200px;
    text-decoration: none;
    width: 30%;
}
.socialpost a {
    text-decoration: none;
}
.socialpost i:hover {
    color: red;
    width: 50%;
    transition: 0.5s;
    border-radius: 0%;
    text-align: left;
}
.socialpost i {
    font-size: 38px;
    border-radius: 100%;
    background-color: #262626;
    padding: 15px;
    display: block;
    color: white;
    outline: none;
    width: 10%;
}
.twitch i:hover {
    color: rgb(111, 12, 141);
}
.github i:hover {
    color: aliceblue;
}


span {
    font-size: 20px;
    padding: 5px;
    display: none;
}
span:hover {
    display: block;
}


.adventure th,td,h2 {
    color: white;
}
.adventure th {
    padding: 10px;
    border: none;
    background-color: #262626;
}
.adventure td {
    border: none;
    background-color: #262626;
    padding: 10px;
}